html,
body {
    background: var(--surface-ground);
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

label {
    font-weight: 700;
}
